#a {
  border: 1px solid black;
  line-height: 75px;
}
#b {
  border: 1px solid black;
  line-height: 150px;
}
#c {
  border: 1px solid black;
  line-height: 125px;
}
#d {
  border: 1px solid black;
  line-height: 125px;
}
#e {
  background-color: bisque;
  border: 1px solid black;
}
#f {
  background-color: powderblue;
  border: 1px solid black;
}
#g {
  background-color: palegreen;
  border: 1px solid black;
}
#h {
  background-color: mediumseagreen;
  border: 1px solid black;
}
#i {
  background-color: greenyellow;
  border: 1px solid black;
  line-height: 80px;
}

@media only screen and (min-width: 786px){
  #a{
    line-height: 100px;
  }
  #b{
    line-height: 600px;
  }
  #c{
    line-height: 200px;
  }
  #d{
    line-height: 200px;
  }
  #e{
    
    border: 1px solid black;
  }
  #f{
    
    border: 1px solid black;
  }
  #g{
  
    border: 1px solid black;
  }
  #h{
    
    border: 1px solid black;
  }
  #i{
    line-height: 150px;
  }

}